*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

img {
    border-style: none;
}

body {
    position: relative;
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 15, 26, .59)), to(rgba(17, 17, 46, .46))) 50% fixed, url(../img/bg-default.jpg) no-repeat 50% fixed;
    background: linear-gradient(180deg, rgba(8, 15, 26, .59), rgba(17, 17, 46, .46)) 50% fixed, url(../img/bg-default.jpg) no-repeat 50% fixed;
    background-size: cover;
    -webkit-animation: smoothAppearance 2s ease-in-out;
    animation: smoothAppearance 2s ease-in-out;
    box-sizing: border-box;
    background-color: #e5e5e5;
    font-family: Montserrat, tahoma, sans-serif;
    color: #fff;
    font-size: 2.2rem;
}

h1 {
    margin: 0;
    font-size: 4.4rem;
}

.control-unit {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 4rem 0;
}

.control-unit__buttons {
    display: -webkit-box;
    display: flex;
    margin-left: 6vw;
    margin-right: 2rem;
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
}

.button {
    position: relative;
    width: 4.4rem;
    height: 4.4rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: .5rem;
    background: rgba(180, 184, 187, .7);
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.button:hover {
    background-color: #b4b8bb;
}

button, input {
    overflow: visible;
}

.control-unit__button-update {
    background: rgba(180, 184, 187, .7) url(../img/update-button.svg) no-repeat bottom;
    background-size: 4.4rem;
}

.control-unit__spinner {
    width: 2rem;
    height: 2rem;
    background: url(../img/spinner.svg) 50% no-repeat;
    -webkit-animation: spin 1.4s ease-in-out;
    animation: spinner 1.4s ease-in-out;
}

.control-unit__language-menu {
    position: relative;
    margin-left: 1rem;
}

.control-unit__language-menu__button {
    width: 7.1rem;
}

.control-unit__language-menu__button-open {
    border-radius: .5rem .5rem 0 0;
}

.button__arrow-down {
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 1rem;
    background: url(../img/arrow-down.svg) 50% no-repeat;
}

.button__arrow-down-open {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.control-unit__down-menu {
    position: absolute;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .6s cubic-bezier(.25, .46, .45, .94), border-radius .2s;
    transition: max-height .6s cubic-bezier(.25, .46, .45, .94), border-radius .2s;
}

.control-unit__down-menu-open {
    max-height: 20rem;
    height: auto;
}

.control-unit__down-menu__item {
    width: 7.1rem;
    border-radius: 0;
    cursor: auto;
}

.control-unit__buttons-f {
    margin-left: 1rem;
    border-radius: .5rem 0 0 .5rem;
    cursor: auto;
}

.control-unit__buttons-c {
    border-radius: 0 .5rem .5rem 0;
    cursor: auto;
}

.inactive {
    background: rgba(76, 82, 85, .7);
    color: hsla(0, 0%, 100%, .7);
    cursor: pointer;
}

.control-unit__search-input {
    position: relative;
    display: -webkit-box;
    display: flex;
    margin-right: 6vw;
    margin-left: 2rem;
}

.control-unit__search-input-input:required {
    outline: 0;
}

.control-unit__search-input-input::placeholder {
    color: #fff;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

.control-unit__search-input-input {
    width: 27.4rem;
    height: 4.4rem;
    border: .1rem solid rgba(180, 184, 187, .7);
    border-radius: .5rem 0 0 .5rem;
    padding: 1.3rem 1.5rem;
    background: rgba(76, 82, 85, .7);
    font-family: inherit;
    font-size: 1.4rem;
    color: #fff;
}

.search-field-error {
    box-shadow: 0 0 1rem 0 rgba(226, 31, 31, .87);
}

.search-field-error::placeholder {
    color: rgba(226, 31, 31, .87);
}

.control-unit__search-input__button {
    width: 10rem;
    margin-left: 0;
    border-radius: 0 .5rem .5rem 0;
}

.control-unit__search-input__voice-button {
    position: absolute;
    z-index: 1;
    top: .2rem;
    right: 10.5rem;
    width: 3rem;
    height: 4rem;
    background: url(../img/microphone.svg) 50% no-repeat;
    background-size: 50%;
}

.off.control-unit__search-input__voice-button:after {
    position: absolute;
    content: "/";
    color: #CD5C5C;
    font-weight: bold;
    font-size: 2.8rem;
    left: 1.1rem;
    top: 0.4rem;
}

/* START WHEATHER DATA CLUSTER */

main {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 6vw;
}

.weather-data-cluster {
    display: grid;
    grid-template-columns: 22rem 22rem 25rem;
    ;
    text-transform: uppercase;
    font-weight: 700;
}

.weather-data-cluster__location {
    grid-column: 1/4;
    font-size: 4.4rem;
}

.weather-data-cluster__date-time {
    grid-column: 1/4;
    margin-top: 1rem;
    font-size: 2.2rem;
    text-transform: capitalize;
    font-weight: 400;
}

.weather-data-cluster__temperature-today {
    position: relative;
    grid-column: 1/3;
    grid-row: 3/5;
    text-align: center;
    font-size: 30.6rem;
}

.weather-data-cluster__temperature-icon {
    position: absolute;
    left: -16rem;
    top: 6rem;
    width: 30rem;
    height: 30rem;
}

.weather-data-cluster__weather-data, .weather-data-cluster__weather-icon {
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
}

.weather-data-cluster__weather-data>p:not(#descriptionWeather) {
    margin-top: 1.3rem;
}

.weather-data-cluster__weather-icon {
    width: 17rem;
    height: 17rem;
}

.forecast {
    display: grid;
    margin-right: 5rem;
}

.forecast__day {
    grid-column: 1/3;
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.forecast__temperature {
    font-size: 8rem;
}

.forecast__icon {
    width: 6.7rem;
    height: 6.7rem;
}

/* END WHEATHER DATA CLUSTER */

/* START MAP CLUSTER */

.map-cluster__map {
    width: 37.5rem;
    height: 37.5rem;
    border-radius: 5%;
    overflow: hidden;
}

.map-iframe {
    width: 200%;
    height: 200%;
    -webkit-transform: translate(-25%, -25%);
    transform: translate(-25%, -25%);
    border: 0;
    border-radius: 5%;
}

.map-cluster__coordinates {
    margin-top: 2rem;
    font-size: 2.2rem;
    text-align: right;
}

/* END MAP CLUSTER */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    80% {
        -webkit-transform: rotate(400deg);
        transform: rotate(400deg);
    }
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    80% {
        -webkit-transform: rotate(400deg);
        transform: rotate(400deg);
    }
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@-webkit-keyframes smoothAppearance {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes smoothAppearance {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@media (max-width: 75.8em) {
    html {
        font-size: 56.25%;
    }
    main {
        -webkit-box-pack: center;
        justify-content: center;
    }
    .map-cluster {
        margin-top: 10rem;
    }
    .map-cluster__coordinates {
        text-align: center;
        margin-bottom: 4rem;
    }
}

@media (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
    .weather-data-cluster__date-time, .weather-data-cluster__location {
        text-align: center;
    }
    .weather-data-cluster__weather-data, .weather-data-cluster__weather-icon {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    .forecast {
        margin: 0 2.5rem;
    }
}

@media (max-width: 37.5em) {
    .weather-data-cluster {
        grid-template-columns: repeat(3, 10rem);
        -webkit-box-pack: center;
        justify-content: center;
    }
    .weather-data-cluster__temperature-today {
        grid-column: 1/4;
        font-size: 18rem;
    }
    .weather-data-cluster__weather-icon {
        grid-column: 1/4;
        margin: 0 auto;
    }
    .weather-data-cluster__temperature-icon {
        width: 20rem;
        height: 20rem;
        left: -9rem;
        top: 2rem;
    }
    .control-unit__buttons {
        -webkit-box-ordinal-group: 2;
        order: 1;
        margin: 4rem 5rem 0;
    }
    .control-unit {
        -webkit-box-pack: center;
        justify-content: center;
    }
    .forecast {
        margin-top: 4rem;
    }
    .forecast, .weather-data-cluster__weather-data {
        grid-column: 1/4;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
    }
}